body {
  width: 90%;
  margin: 20px auto;
}
#menu {
  width: 700px;
  background-color: darkcyan;
}
#heading {
  width: 100px;
  background-color: darkcyan;
}
#footer {
  width: 50px;
  background-color: darkcyan;
}
